/*
 * GENERIC
 */

/* Soft reset */
html, body, div, h1, h2, h3, h4, h5, h6, li, ul, ol
{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6
{
	font-family: sans-serif;
}

/* Clear fix */
.clear
{
	clear: both;
}

/*
 * LAYOUT
 */
body
{
	background: #ddd;
}

table, th, td
{
	border: 1px inset #888;
}

#page-wrapper
{
	background: #fefefe;
	border-radius: 2px;
	width: 960px;
	margin: 20px auto;
	padding-bottom: 10px;
}

#content-wrapper
{
	margin: 10px;
}

/*
 * TOP BAR
 */
#top-bar
{
	background: #4d4;
	border-radius: 2px 2px 0 0;
} 

#menu
{
	list-style-type: none;
}

#menu>li
{
	display: inline-block;
	margin: 5px;
}
 
/*
 * ERRORS
 */
.error
{
	color: red;
	border: 1px solid red;
	padding: 2px;
	border-radius: 2px;
	background: #fcc;
}
 
/* Label and checkbox fixes */
label
{
	display: inline-block;
}

input[type="checkbox"]
{
	line-height: inherit;
	vertical-align: middle;
}
