/*
 * GENERIC
 */

/* Soft reset */
html, body, div, h1, h2, h3, h4, h5, h6, li, ul, ol
{
	margin: 0;
	padding: 0;
}

html
{
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6
{
	font-family: sans-serif;
}

/* Clear fix */
.clear
{
	clear: both;
}

/*
 * LAYOUT
 */
body
{
	background: #ddd;
}
#page-wrapper
{
	background: #fefefe;
	border-radius: 2px;
	width: 960px;
	margin: 20px auto;
	padding-bottom: 10px;
}

#content-wrapper
{
	margin: 10px;
}

/*
 * TOP BAR
 */
#top-bar
{
	background: #78AB46;
	border-radius: 2px 2px 0 0;
	color: white;
} 

#top-bar h1
{
	padding: 10px;
	text-shadow: 1px 1px black;
}

#menu
{
	list-style-type: none;
	border-top: 2px groove #4A7023;
}

#menu>li
{
	display: inline-block;
}

#menu>li>a
{
	text-shadow: 1px 1px black;
	display: inline-block;
	padding: 5px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	border-right: 2px groove #4A7023;
	border-spacing: 0;
}

#menu>li>a:hover
{
	background: #9CBA7F;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
.button-link
{
	-webkit-appearance: button;
	padding: 5px;
	color: black;
	text-decoration: none;
}
}

/*
 * ERRORS
 */
.error
{
	color: red;
	border: 1px solid red;
	padding: 2px;
	border-radius: 2px;
	background: #fcc;
}
 
/* Label and checkbox fixes */
label
{
	display: inline-block;
}

input[type="checkbox"]
{
	line-height: inherit;
	vertical-align: middle;
}
/**********
 * TABLES *
 **********/

table
{
	border-spacing: 0;
	border: 1px solid #888;
	border-radius: 4px;
	text-align: right;
	font-family: Helvetica, sans-serif;
	margin: 5px 0;
}
 
tr:nth-child(even)
{
	background: #eee;
}

tr:nth-child(odd):not(:first-child)
{
	background: #fff;
}
 
tr:first-child
{
	background: #ccc;
}

tr:hover:not(:first-child)
{
	background: #bbf;
}

th, td
{
	border: 0;
	padding: 4px 15px;
}

tr:first-child>th
{
	text-align: center;
	border-bottom: 1px solid #888;
}

th:first-child, td:first-child
{
	text-align: left;
}
