<!DOCTYPE html>

<html>
	<head>
		<title>RunOff</title>
		{% block styles %}
			<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
		{% endblock %}
		
		{% block scripts %}
			<script type="text/javascript">
				var STATIC_URL = '{{ STATIC_URL }}';
				var CSRF = "{% csrf_token %}";
			</script>
			<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
			<script src="{{ STATIC_URL }}js/extensions.js"></script>
		{% endblock %}
	</head>
	<body>
		<div id="page-wrapper">
			<div id="top-bar">
				<h1>RunOff</h1>
				{% if user.is_authenticated %}
					{% include 'menu_authenticated.html' %}
				{% else %}
					{% include 'menu_anonymous.html' %}
				{% endif %}
			</div>
			<div id="content-wrapper">
				{% if error %}
					<div class="error">{{ error }}</div>
				{% endif %}
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
