<!DOCTYPE html>

<html>
	<head>
		<title>RunOff</title>
		{% block styles %}
			<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
		{% endblock %}
		
		{% block scripts %}
			<script type="text/javascript">
				var STATIC_URL = '{{ STATIC_URL }}';
			</script>
			<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
			<script src="{{ STATIC_URL }}js/extensions.js"></script>
		{% endblock %}
	</head>
	<body>
		<div id="page-wrapper">
			<h1>RunOff</h1>
			<div id="content-wrapper">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
