{% extends 'master.html' %}

{% block content %}
	<table>
		<tr>
			<th>Route name</th><th>Distance</th><th>Difficulty</th><th>View/Edit</th><th>Delete</th>
		</tr>
		{% for route in routes %}
			<tr>
				<td>{{ route.name }}</td><td>{{ route.distance|floatformat:"0" }} meters</td><td> - not calculated - </td><td><a href="/routes/planner/{{ route.pk }}">Edit</a></td><td><a href="/routes/delete/{{ route.pk }}">Delete</a></td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="5">You have no saved routes!</td>
			</tr>
		{% endfor %}
	</table>
	<a href="/routes/planner/">New route</a>
{% endblock %}
