{% extends 'master.html' %}

{% block content %}
	<table>
		<tr>
			<th>Route name</th><th>Distance</th><th>Difficulty</th><th>View/Edit</th>
		</tr>
		{% for route in routes %}
			<tr>
				<td>{{ route.name }}</td><td> - not saved - </td><td> - not calculated - </td><td><a href="/routes/planner/{{ route.pk }}">Click here</a></td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="4">You have no saved routes!</td>
			</tr>
		{% endfor %}
	</table>
	<a href="/routes/planner/">New route</a>
{% endblock %}
